<launch>
  <!-- Arguments -->
  <arg name="use_sim_time" default="true"/>

  <!--- Simulation -->
  <include file="$(find rocs_simulation)/launch/stage.launch">
           <arg name="use_sim_time" value="$(arg use_sim_time)" />
           <arg name="world" value="$(find rocs_simulation)/stage_worlds/cvap7_dora.world" />
  </include>

</launch>
