<launch>
  <!-- Arguments -->
  <arg name="world" default="$(find rocs_simulation)/stage_worlds/willow-erratic.world"/>
  <arg name="use_sim_time" default="true"/>

  <!-- Set use_sim_time flag -->
  <group if="$(arg use_sim_time)">
    <param name="/use_sim_time" value="true" />
  </group>

  <!-- Stage -->
  <node name="stage" pkg="stage" type="stageros" args="$(arg world)" respawn="false" output="log"/>

  <!--- Teleoperation -->
  <include file="$(find rocs_teleop)/launch/keyboard.launch"/>

</launch>
