<launch>

 	<node pkg="re_vision" type="ObjectDetector" name="ObjectDetector"  output="screen">
		<remap from="/camera_info" to="/camera/camera_info" />
  	</node>

<!--- 
 	<node pkg="image_view" type="image_view" name="detector_visualization" respawn="false" output="screen">
		<remap from="/image" to="/re_vision/detector_visualization" />
  	</node>

-->

 	<node pkg="re_object_detector_gui" type="detect" name="detect" respawn="false" output="screen">
		<remap from="/camera/rgb/image_color" to="/camera/image_raw" />
   	</node>



</launch>

