<?xml version="1.0"?>

<launch>

  <master auto="start"/>

  <!-- Arguments -->
  <arg name="use_sim_time" default="true"/>

  <!--- Simulation -->
  <include file="$(find rocs_simulation)/launch/stage_cvap7_dora.launch"/>

<!--- 
  <include file="$(find rocs_simulation)/launch/stage_hospital_dora.launch"/>
  <include file="$(find rocs_simulation)/launch/stage_autolab_dora.launch"/>
-->

  <!-- Gmapping -->
  <include file="$(find rocs_test)/config/move_base_config/slam_gmapping.launch"/>  

  <!-- Exploration components -->
  <include file="$(find rocs_test)/config/explore/move.xml" />
  <include file="$(find rocs_test)/config/explore/explore_slam.xml" />

  <!--- RVIZ -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rocs_test)/config/rviz/simulation_exploration.vcg" />

  <!--- Urdf model of Pioneer 3-DX -->
  <include file="$(find rocs_simulation)/launch/pioneer3dx_urdf.launch"/>
  
</launch>
