<launch>

  <!--- ROSARIA -->
  <include file="$(find rocs_robot)/launch/rosaria.launch"/>


  <!--- Teleoperation -->
  <include file="$(find rocs_teleop)/launch/joystick.launch"/>


  <!-- publish the static transform from the center of the robot to the laser rangefinder (required for slam_gmapping) --> 
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.224 0 0.125 0 0 0 base_link laser 100" />

  <!-- publish the static transform from the base_link to the base_footprint   -->
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_base_footprint" args="0 0 0 0 0 0 base_link base_footprint 100" />

  <!--- Laser --> 
  <include file="$(find rocs_robot)/launch/laser_hokuyo.launch"/>

  <!--- Prosilica camera -->
  <include file="$(find rocs_robot)/launch/prosilica_camera.launch"/>
 
  <!--- USB Camera -->  
  <include file="$(find rocs_robot)/launch/usb_camera.launch"/>


</launch>
